*{
    margin: 0;

}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 50px;                          /*Welcome to Rock..*/
    color: bisque;
    width: 100%;
    font-size: 22px;
    padding: 10px;
}
/*-----------------------------------------------------------------------*/
.status{
    display: flex;
    height: 50px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;            /* STATUS WIN, LOSE...*/
    padding: 20px;
    width: 100%;
    font-size: 18px;
    color: bisque;
}
/*-----------------------------------------------------------------------*/
.playeAndComputer{
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: black;
    height: 70px;
    padding: 10px;                       /*Text You | Computer */
}

.playeAndComputer>.nameChild{
    color: beige;
    font-size: 30px;
    padding: 5px;
}
/*-----------------------------------------------------------------------*/
.turnContainer{
    display: flex;
    flex-direction: row;
    height: 200px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;        /*Container of turns*/
    gap: 20px;
}
.turnContainer>.turnChild{
    height: 10rem;
    border-radius: 50px;
    width: 10rem;
    padding: 5px;
}


/*-----------------------------------------------------------------------*/


.opcContainer{

    display: flex;
    height: 250px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 70px;

}

.childOpc{                                  /* DESICIONS OF USER */
    height: 10rem;
    padding: 10px;

    width: 10rem;
    cursor: pointer;
    border-radius: 200px;
    

}

/*-------------------------------------------------------------*/


.scoreContainer{
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: black;
}                                               /* SCORE */

.scoreContainer>.scoreChildren{
    height: 50px;
    width: 25px;
    padding: 10px;
    font-size: 30px;
    color: azure;


}

/*-------------------------------------------------*/

.weaponContainer{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
}                                               /*CHOISE YOUR WEAPON*/

.weaponContainer>.weaponChild{
 font-weight: bold;
 font-size: 35px;
 color: azure;

}
/*-------------------------------------------------*/

.retryContainer{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;

}

.retryContainer>.retryChildT{
    padding: 15px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 25px;
}

.containerFooter{
    display: flex;
    background-color: black;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.footerF{
    color: bisque;
    font-size: 25px;
    padding: 10px;
}


